<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>CRUD </title>
    <style>
     a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        
     } 
     ul{
        display: inline-flex;
     }
 li{
    list-style: none;
 }
 .nav1{
    background-color: blue;
    
 }
 
    </style>
</head>
<body>
   
    

    <div class="container">
        <div class="navbar nav1">
            <ul>
                <li><a class="http://localhost:5000/" href="#">home</a></li>
                <li class="px-4"><a href="/show">show</a></li>
            </ul>
        </div>
    
        <h1 >DETAILS</h1>
        <!-- <form method="post" action="/">
        <p>Name</p>
        <input name="name" type="text" placeholder="type your name">

        <p>Email</p>
        <input name="email" type="text" placeholder="type your Email">

        <button type="submit">save</button>
    </form> -->

    <form method="post" action="/">
        <div class="mb-3">
          <label  class="form-label">Name</label>
          <input name="name"  placeholder="type your name" type="text" class="form-control">
          
        </div>
        <div class="mb-3">
          <label  class="form-label">Email</label>
          <input type="email" name="email" placeholder="type your Email" class="form-control">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
    
</body>
</html>